{% extends 'header.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}
    /* 背景图片样式 */
    <style>
        

        /* 按钮样式 */
        .start-button {
            position: absolute;
            top: 50%; /* 垂直居中 */
            left: 50%; /* 水平居中 */
            transform: translate(-50%, -50%); /* 精确居中 */
            padding: 30px 60px; /* 增大内边距，使按钮更大 */
            font-size: 32px; /* 增大字体大小 */
            color: white; /* 文字颜色 */
            background: linear-gradient(to right, #1f1314, #b67572); /* 紫色渐变 */
            border: none; /* 无边框 */
            border-radius: 15px; /* 圆角 */
            cursor: pointer; /* 鼠标指针样式 */
            outline: none; /* 去掉轮廓线 */
            font-family: 'Poppins', sans-serif; /* 使用 Poppins 字体 */
            transition: transform 0.3s ease; /* 添加动画效果 */
        }

        /* 鼠标悬停时轻微放大 */
        .start-button:hover {
            transform: translate(-50%, -50%) scale(1.05); /* 轻微放大 */
        }
    </style>
{% endblock %}

{% block content %}

    <button class="start-button" onclick="window.location.href='/map'">Start Parking</button>
{% endblock %}