{% extends 'header.html' %}
{% load static %}

{% block title %}Map Page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Map/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'Map/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'Map/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'Map/css/loader.css' %}">
{% endblock %}

{% block content %}
    <!-- 网格容器 -->
    <div class="grid-container" id="grid"></div>
    <!-- 新增退出按钮 -->
    <div class="sidebar">
        <button class="exit-btn" id="exitBtn">退出导航模式</button>
        <div class="log-panel"></div>
    </div>
{% endblock %}

{% block extra_js %}

    <script>
        window.initialMap = {{ map0|safe }};
        window.csrfToken = '{{ csrf_token }}';
    </script>
    <!-- 模块化 JS 脚本 -->
    <script type="module" src="{% static 'Map/js/main.js' %}"></script>

{% endblock %}


